.banner {
    margin-top: 156px;

    .banner-wrapper {
        position: relative;
        background-image: url(../../../assets/images/banner-bg.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 439px;
        display: flex;
        justify-content: center;
    }

    &__image {
        position: absolute;
        left: 2px;
        top: 0;
    }

    &__screenshot {
        position: absolute;
        right: 57px;
        bottom: 7px;
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 555px;
        margin-top: 30px
    }

    &__icon {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-secondary-red);
    }

    &__text {
        margin-top: 30px;
        font-size: var(--font-size-text-md);
        line-height: var(--line-height-text-md);
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1440px) {
    .banner {
        margin-top: 100px;

        .banner-wrapper {
            justify-content: flex-start;
            border-radius: 25px;
        }

        &__image {
            display: none;
        }

        &__screenshot {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        &__content {
            position: relative;
            z-index: 2;
            width: 60%;
        }
    }
}

@media screen and (max-width: 990px) {

    .banner {
        margin-top: 80px;

        .banner-wrapper {
            height: auto;
            padding-bottom: 20px;
        }

        &__content {
            position: relative;
            z-index: 2;
            width: 40%;
        }
    }
}

@media screen and (max-width: 720px) {
    .banner {
        margin-top: 60px;

        .banner-wrapper {
            justify-content: center;
        }

        &__content {
            position: relative;
            z-index: 2;
            width: 80%;
            margin-top: 20px;
        }

        &__screenshot {
            display: none;
        }
    }
}