.banner {
    margin-top: 156px;

    .banner-wrapper {
        position: relative;
        background-image: url(../../../assets/images/banner-bg.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 439px;
        display: flex;
        justify-content: center;
    }

    &__image {
        position: absolute;
        left: 2px;
        top: 0;
    }

    &__screenshot {
        position: absolute;
        right: 57px;
        bottom: 7px;
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 555px;
        margin-top: 30px
    }

    &__icon {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-secondary-red);
    }

    &__text {
        margin-top: 30px;
        font-size: var(--font-size-text-md);
        line-height: var(--line-height-text-md);
        margin-bottom: 30px;
    }
}