.header {
    position: relative;
    height: 135px;
    width: 100%;
    overflow: hidden;
    z-index: 1;

    .menu-icon {
        display: none;
    }

    .header-column {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;

        .headerBrand {
            position: relative;
            z-index: 9;

            .brandContent {
                width: 381px;
                height: 100%;
                position: relative;

                border-radius: 0 100% 0 0;
            }
        }

        .headerRight {
            position: relative;
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;

            .headerInfo {
                background: var(--color-primary-navy);
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 44px;
                padding-right: 20px;

                &::before {
                    content: "";
                    position: absolute;
                    left: -50px;
                    top: 0;
                    bottom: 0;
                    width: 50px;
                    height: 44px;
                    background-color: var(--color-primary-navy); // Kartın arka plan rengiyle aynı olmalı
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: -160px;
                    top: -12px;
                    width: 175px;
                    height: 175px;
                    background-color: white; // Kartın arka plan rengiyle aynı olmalı
                    border-radius: 50%; // Bu yuvarlaklık kavisi oluşturur
                }

                .headerInfo-left {
                    display: flex;
                    align-items: center;
                    margin-left: 16px;
                    transition: .3s;

                    a {
                        color: #fff;
                        margin-left: 6px;
                        transition: .3s;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #9aa2bd;

                        a {
                            color: #9aa2bd;
                        }
                    }
                }

                .headerInfo-right {
                    span {
                        margin-right: 20px;
                    }

                }
            }
        }
    }
}

.no-scroll {
    overflow: hidden;

    .mobileSidebar {
        display: block;
    }
}

@media (max-width: 1440px) {
    .header {
        height: 120px;

        .menu-icon {
            display: block;
            position: absolute;
            top: 70px;
            right: 20px;
            z-index: 10;
            cursor: pointer;
        }
    }
}

@media (max-width:1200px) {
    .header {
        .header-column {
            .headerRight {
                .headerInfo {
                    .headerInfo-left {
                        svg {
                            width: 16px;
                            height: 16px;
                            position: relative;
                            top: 2px;
                        }

                        span {
                            margin-left: 4px;
                            font-size: 14px;
                        }
                    }

                    .headerInfo-right {
                        span {
                            margin-right: 10px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .header {
        .menu-icon {
            top: 80px;
        }

        .header-column {
            .headerRight {
                .headerInfo {
                    height: 66px;

                    .headerInfo-right {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .header {
        height: 80px;
        background: #273D89;

        .menu-icon {
            top: 30px;
            color: #fff;
        }

        .header-column {
            .headerBrand {
                position: relative;
                z-index: 9;

                .brandContent {
                    width: 80px;
                    position: relative;
                    border-radius: 0 100% 0 0;

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }

            .headerRight {

                .headerInfo {
                    display: none;
                }
            }
        }
    }
}