.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  border-radius: 999px;
  border: none;
  transition: all 0.2s ease;
  white-space: nowrap;

  &:hover {
    color: #fff;
  }

  &:focus {
    outline: 1px solid var(--color-primary-blue);
    box-shadow: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    flex-shrink: 1;

  }

  &__text {
    line-height: 1;
  }

  /* Sizes */
  &--sm {
    padding: 14px;
    font-size: 13px;
    gap: 0;

    svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  }

  &--md {
    padding: 16px 10px;
    font-size: 14px;

    svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  }

  &--lg {
    padding: 18px 15px;
    font-size: var(--font-size-text-sm);
    font-weight: 400;

    svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }

  /* Variants */
  &--primary {
    background: var(--color-primary-blue);
    color: #fff;

    &:hover {
      background: #16205a;
    }
  }

  &--secondary {
    background: #fff;
    color: var(--color-gray-900);
    border: 1px solid var(--color-gray-400);

    &:hover {
      background: #16205a;
    }
  }

  &--success {
    background: var(--color-secondary-green);
    color: #fff;

    &:hover {
      background: #b0d11d;
    }
  }

  &--danger {
    background: #d80000;
    color: #fff;

    &:hover {
      background: #a80303;
    }
  }

  &--outline {
    background: transparent;
    color: var(--color-primary-blue);
    border: 1px solid var(--color-gray-400);

    &:hover {
      background: #16205a;
    }
  }

  /* Circle Icon Button */
  &--circle {
    width: 44px;
    height: 44px;
    padding: 0;
  }
}

@media (max-width: 1440px) {
  .btn {
    gap: 10px;

    /* Sizes */
    &--sm {
      padding: 10px;
      font-size: 12px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    &--md {
      padding: 14px 8px;
      font-size: 12px;
    }

    &--lg {
      padding: 16px 10px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 920px) {
  .btn {
    gap: 5px;

    &--sm {
      padding: 8px;
      font-size: 11px;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    &--md {
      padding: 12px 6px;
      font-size: 11px;
    }

    &--lg {
      padding: 14px 8px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}