.card-article {
    background: #fff;
    border-radius: 20px;
    padding: 15px 13px;
    border: 1px solid #eef2f6;
    box-shadow: 0 5px 15px rgba(188, 188, 188, 0.25);
    margin-bottom: 25px;

    &__top {
        margin-bottom: 11px;

        .badge-main {
            background: #2b3a67;
            color: #fff;
            padding: 4px 12px;
            border-radius: 6px;
            font-size: 12px;
        }

        .badge-sub {
            background: #f0f4f8;
            color: #5a6b89;
            padding: 4px 12px;
            border-radius: 6px;
            font-size: 12px;
        }
    }

    &__title-group {
        margin-bottom: 5px;

        svg {
            position: relative;
            top: -5px;
        }
    }

    &__title {
        font-weight: 600;
        color: var(--color-gray-900);
        font-size: var(--font-size-h6);
        line-height: var(--line-height-h6);
    }

    &__meta {
        font-size: 0.9rem;
        color: #6c757d;

        .meta-item {
            display: flex;
            align-items: center;
            gap: 5px;

            .meta-icon {
                width: 26px;
                height: 26px;
                background: #f0f0f3;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    &__actions {
        .btn--primary {
            padding: 20px 25px;
        }

        .btn--outline {
            width: 55px;
            height: 55px;
        }
    }
}