@import "../styles/variable.css";
/* Bootstrap */
@import "../styles/bootstrap/bootstrap.scss";

/* Proje stilleri */
@import "../styles/reset";
@import "../styles/font";

@media (max-width: 720px) {
    .container {
        padding: 0 10px;
    }
}