.pageinfo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 288px;
    overflow: visible;
    z-index: 9;
    margin-bottom: 74px;

    &_right {
        width: 711px;

        p {
            margin-bottom: 60px;
            font-size: var(--font-size-text-md);
            line-height: 25px;
            color: var(--color-gray-900);
            text-align: justify;
        }
    }

    &_left {
        width: 739px;
        height: 300px;

        .pageinfo_image {
            margin-top: -366px;
            width: 739px;
            height: auto;
            position: relative;
            left: 60px;
            top: -36px;
        }
    }
}